name: CI-CD-Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # Build & Push Backend
      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/devops-backend:latest

      # Build & Push Worker
      - name: Build and Push Worker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/devops-worker:latest

      # Build & Push Frontend
      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: frontend
          file: frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/devops-frontend:latest

      # Deploy to EC2
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Install docker if missing
            if ! command -v docker &> /dev/null
            then
              sudo apt update
              sudo apt install docker.io -y
              sudo systemctl start docker
              sudo systemctl enable docker
              sudo usermod -aG docker ubuntu
            fi

            # Clone repo if missing
            if [ ! -d "devops-assignment" ]; then
              git clone https://github.com/Shubhamharanale7/devops-assignment.git
            fi

            cd devops-assignment

            # Pull latest images
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-backend:latest
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-worker:latest
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-frontend:latest

            # Restart containers
            docker compose down
            docker compose up -d



