name: CI-CD-Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      steps:
  - name: Checkout Code
    uses: actions/checkout@v4

  - name: Debug Username
    run: echo "Username is: ${{ secrets.DOCKER_USERNAME }}"

  - name: Login to DockerHub
    uses: docker/login-action@v3
    with:
      username: ${{ secrets.DOCKER_USERNAME }}
      password: ${{ secrets.DOCKER_TOKEN }}


      - name: Build and Push Backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-backend:latest -f backend/Dockerfile .
          docker push ${{ secrets.DOCKER_USERNAME }}/devops-backend:latest

      - name: Build and Push Worker
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-worker:latest -f backend/Dockerfile .
          docker push ${{ secrets.DOCKER_USERNAME }}/devops-worker:latest

      - name: Build and Push Frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-frontend:latest -f frontend/Dockerfile .
          docker push ${{ secrets.DOCKER_USERNAME }}/devops-frontend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/devops-assignment
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-backend:latest
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-worker:latest
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-frontend:latest
            docker compose down
            docker compose up -d
